<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/stylehome.css">
    <title>Home</title>
</head>
<body>
    <h1>Frédéric Chopin </h1>
                <div>
                   <a href="about"><button class="button-27" role="button">About</button></a>
                       <a href="works"><button class="button-27" role="button">Works</button></a>
        
        
     
      
    </div>
    <img src="images/chopin1.jpg" class="center">

</body>
</html>