<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="stylesheets/styleworks.css">
    <title>Works</title>
</head>
<body>
                <div>
                   <a href="home"><button class="button-27" role="button">Home</button></a>
        
        
     
      
    </div>
    <h1>Some of his masterpieces are</h1>
    <div>
        <ul>
            <li>23: Ballade No. 1 in G minor (composed 1835–36)</li> 
            <li>Op. 38: Ballade No. 2 in F major (1836–39)</li>
            <li>Op. 47: Ballade No. 3 in A♭ major (1841)</li>
            <li>Op. 52: Ballade No. 4 in F minor (1842–43)</li>



        </ol>



    </div>
</body>
</html>